<div class="flex justify-center my-36">
    <div class="mb-3 w-auto">
        <label class="block text-sm font-medium text-gray-700">Imagenes Galeria</label>
        <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
            <div class="space-y-1 text-center">
                <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                  <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <div class="flex text-sm text-gray-600">
                    <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 hover:text-indigo-500">
                      <span>Subir imagenes de Galeria</span>
                      <input id="file-upload" name="file-upload" (change)="uploadImage($event)" type="file" class="sr-only" multiple>
                    </label>
                    <ng-container *ngIf="file; else elseTemplate">
                        <div class="flex flex-wrap flex-column items-center">
                            <p class="pl-1" *ngFor="let item of file">{{item.name}}</p>
                        </div>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <p class="pl-1">or drag and drop</p>
                    </ng-template>
                </div>
                <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
            </div>
        </div>
    </div>
</div>

<div class="flex justify-center my-36">
    <section class="overflow-hidden text-gray-700 ">
        <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
            <div class="flex flex-wrap -m-1 md:-m-2">
                <div class="flex flex-wrap w-1/6" *ngFor="let item of files">
                    <div class="w-full p-1 md:p-2">
                        <img alt="gallery" class="block object-cover w-40 h-40 object-center rounded-lg" [src]="item.url">
                        <div (click)="removeImg(item.name)" class="bg-red-700 h-8 w-8 mb-4 md:mb-0 rounded-full cursor-pointer flex items-center justify-center" id="image-gellery">
                            <div class="flex items-center justify-around h-full w-full text-white">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
