<div class="flex justify-center my-12">
    <div class="mb-3 w-auto">
        <div class="block p-6 rounded-lg shadow-lg bg-white max-w-md">
            <form [formGroup]="teamForm" (ngSubmit)="onSubmitTeam()">
                <div class="grid grid-cols-2 gap-4">
                    <div class="form-group mb-3">
                        <input formControlName="name" type="text" class="form-input px-4 py-3 rounded-full w-full" placeholder="Nombre">
                    </div>
                    <div class="form-group mb-3">
                        <input formControlName="cargo" type="text" class="form-input px-4 py-3 rounded-full w-full" placeholder="Cargo">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="block">
                    <span class="sr-only">Choose profile photo</span>
                    <input formControlName="fileProyect" (change)="onImgChangeTeam($event)" type="file" class="block w-full text-sm text-slate-500
                      file:mr-4 file:py-2 file:px-4
                      file:rounded-full file:border-0
                      file:text-sm file:font-semibold
                      file:bg-violet-50 file:text-violet-700
                      hover:file:bg-violet-100
                    "/>
                  </label>
                </div>
                <div class="form-group mb-4">
                    <textarea formControlName="desc" type="text" class="form-input px-4 py-3 rounded-full w-full" id="exampleInput126" placeholder="Describcion"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="mx-2 my-2 bg-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 rounded-full text-white text-uppercase px-6 py-2 text-xs">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <div class="w-full bg-gray-100 px-10 pt-10">
        <div class="container mx-auto">
            <div class="lg:flex md:flex sm:flex items-center xl:justify-between flex-wrap md:justify-around sm:justify-around lg:justify-around">
                <div *ngFor="let item of dataTeam; let i=index" class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5">
                    <div class="rounded overflow-hidden shadow-md bg-white">
                        <div class="absolute -mt-20 w-full flex justify-center">
                            <div class="h-32 w-32">
                                <img [src]="item.img" alt="" class="rounded-full object-cover h-full w-full shadow-md" />
                            </div>
                        </div>
                        <div class="px-6 mt-16">
                            <div class="font-bold text-3xl text-center pb-1">{{item.nombre}}</div>
                            <p class="text-gray-800 text-sm text-center">{{item.cargo}}</p>
                            <p class="text-center text-gray-600 text-base pt-3 font-normal">{{item.desc}}</p>
                        </div>
                        <div class="w-full flex justify-center pt-5 pb-5">
                            <a class="mx-5 cursor-pointer" (click)="openModal(item)">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                      <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                      <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div (click)="deleteTeam(item)" class="bg-red-700 h-8 w-8 mb-4 md:mb-0 rounded-full cursor-pointer flex items-center justify-center" id="delete-image">
                        <div class="flex items-center justify-around h-full w-full text-white">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>